{% load cloudinary %}

<div class="col text-center">
  <a href="{{ screencap.image.url }}"
    class="pswp-link"
    data-pswp-width="{{ screencap.width }}"
    data-pswp-height="{{ screencap.height }}"
    data-movie-url="{% url 'gallery:title_detail' screencap.title.slug %}">
  <img src="{% cloudinary_url screencap.image.name width=800 crop="fit" quality="auto" fetch_format="auto" %}" class="rounded card-img-fixed mb-2" alt="{{ screencap }}">
  </a>
  <div class="d-flex flex-wrap justify-content-center">
    {% for tag in screencap.tags.all|slice:":3" %}
      <a href="/search/?q={{ tag.name }}" class="badge rounded-pill tag-custom tag-mini text-decoration-none">
        #{{ tag.name }}
      </a>
    {% endfor %}
  </div>
</div>