<div class="col">
  <a href="{{ screencap.image.url }}"
    class="pswp-link"
    data-pswp-width="{{ screencap.width }}"
    data-pswp-height="{{ screencap.height }}"
    data-movie-url="{% url 'gallery:title_detail' screencap.title.slug %}">
  <img src="{{ screencap.image.url }}" class="img-thumbnail card-img-fixed" alt="{{ screencap }}">
  </a>
  <div>
    {% for tag in screencap.tags.all %}
      <a href="/search/?q={{ tag.name }}" style="text-decoration:none">
        <span class="badge rounded-pill text-bg-light border" 
        style="font-size: 0.7rem;">#{{ tag.name }}</span>
      </a>
    {% endfor %}
  </div>
</div>