{% extends "base.html" %}

{% block content %}
<div class="container text-center my-5">
  <h1>Latest Screencaps</h1>
  <h5 class="mt-2">Popular Tags</h5>
  {% for tag in popular_tags %}
    <a href="/search/?q={{ tag.name }}" class="badge rounded-pill text-bg-light border"
     style="text-decoration:none">#{{ tag.name }}</a>
  {% endfor %}
  <div id="my-gallery" class="row row-cols-1 row-cols-sm-2 row-cols-md-2 row-cols-lg-3 row-cols-xl-3 g-4 mt-2">
    {% for screencap in page_obj %}
      {% include "gallery/includes/_screencap_card.html" %}
    {% endfor %}
  </div>
  {% include "gallery/includes/_pagination.html" %}
</div>
{% endblock %}