{% extends "base.html" %}
{% load cloudinary %}

{% block title %}{{ title.name }}{% endblock %}

{% block content %}
<div class="container my-5">
  <div class="row align-items-start mb-5">
    <div class="col-md-4 mb-4 mb-md-0 text-center">
      {% if title.poster %}
        <img src="{% cloudinary_url title.poster.name width=600 crop="scale" quality="auto" fetch_format="auto" %}" class="img-fluid rounded shadow-lg poster-img" alt="{{ title }}">
      {% else %}
        {% with first_screencap=page_obj.0 %}
          {% if first_screencap %}
            <img src="{% cloudinary_url first_screencap.image.name width=600 crop="scale" quality="auto" fetch_format="auto" %}" class="img-fluid rounded shadow-lg" alt="{{ title }}">
          {% endif %}
        {% endwith %}
      {% endif %}
    </div>

    <div class="col-md-8 text-md-start text-center">
      <h1 class="display-4 fw-bold mb-3">{{ title }}</h1>
      <p class="lead text-secondary" style="max-width: 700px;">{{ title.description }}</p>
      <div class="mt-4">
        <span class="badge bg-secondary">{{ title.get_type_display }}</span> </div>
    </div>
  </div>

  <hr class="opacity-10 mb-5">

  <div id="my-gallery" class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4">
    {% include "gallery/includes/_screencaps_loop.html" %}
  </div>

</div>
{% endblock %}